<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>

  <body>
        <h1> contact Controller </h1>

        <div>
            welcome to the contact controller
        </div>
  </body>
</html>
